---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
const description = "Learn more about palaf.in (the website)."
const title = "about palaf.in"
---

<Layout title={title} description={description}>
	<main class="flexing">
		<section class="boxed">
			<h1>{title}</h1>
			<p>palaf.in was heavily inspired by <a href="pincurch.in">pincurch.in</a>, a site I stumbled upon a few nights ago.</p>
			<p>I've also had the pleasure of using Palafin in Ranked Battles and watching it win regional tournaments (shout out to Justin Tang).</p>
		
		</section>
<Footer>