---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
const description = "Palafin is a Water-type Pokémon introduced in Generation 9. It evolves from Finizen and transforms into its Hero Form when it is switched out from battle."
---

<Layout title="palaf.in" description={description}>
	<main class="flexing">
		<section>
			<video width="214" height="342" autoplay loop>
				<source	src="palafin-hero-form.mp4" type="video/mp4" />
			</video>
		</section>
<Footer>