---
import LayoutMedia from '../layouts/LayoutMedia.astro';
import Footer from '../components/Footer.astro';
const description = "Palafin is a Water-type Pokémon introduced in Generation 9. It evolves from Finizen and transforms into its Hero Form when it is switched out from battle."
const mediaAs = "image";
const mediaLink = "964-1_8-bit.gif";
const mediaType = "image/gif";
---

<LayoutMedia title="palaf.in" description={description} mediaAs={mediaAs} mediaLink={mediaLink} mediaType={mediaType}>
	<main class="flexing">
		<section>
			<img src="964-1_8-bit.gif" alt="Palafin">
		</section>
<Footer>