---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
const description = "Learn more about Palafin (the Pokémon)."
---

<Layout title="More about Palafin" description={description}>
	<main class="flexing">
		<section class="boxed">
			<section style="margin-bottom: 2rem;">
				<h2>Who is Palafin?</h2>
				<p>Palafin is a Water-type Pokémon, first seen in Pokémon Scarlet & Violet in the Paldea region.</p>
			</section>
			<section style="margin-bottom: 2rem;">
				<h2>What are its base stats?</h2>
				<p>Palafin's base stats are:</p>
				<p>HP - 100; Attack - 70; Defense - 72; Sp. Atk - 53; Sp. Def - 62; Speed - 100 in Zero Form</p>
				<p>HP - 100; Attack - 160; Defense - 97; Sp. Atk - 106; Sp. Def - 87; Speed - 100 in Hero Form</p>
			</section>
			<section style="margin-bottom: 2rem;">
				<h2>Is Palafin Kenough in this generation?</h2>
				<p>Palafin has Kenergy for days, so yes.</p>
			</section>
		</section>
<Footer>