--- 
interface Props {
	title: string;
}
---

<footer>
	<hr>
	<nav>
		<a href="/">home</a> | <a href="/a">about</a> | <a href="/m">more</a>
	</nav>
	<p>Built with <a href="https://astro.build/">Astro</a></p>
</footer>
